/* Small devices (phones, less than 768px) */
/************General************/
* {
    font-family: 'Roboto', sans-serif;
}

h4 {
    margin: 0;
}

p {
    font-size: 14px;
    margin: 0.2em;
}

:root {
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --tertiary-color: #99E2D0;  
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main-container {
    width: 100%;
    box-sizing: border-box; 
}

.title-section {
    height: 24px;
    font-weight: bold;
}

/****************loader****************/

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(#9356DC, #FF79DA);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: loader 3s;
    animation-fill-mode: forwards;
}

@keyframes loader {
    0% {
        opacity:1;
        z-index: 10;
    }
    90% {
        opacity: 0;
        z-index: 10;
    }  
    100% {
          opacity:0;
          z-index: -10;
        }
  }

.spinner {
    font-size: 200px;
    animation: spinner-circle 3s linear;
    animation-fill-mode: forwards;
}

  @keyframes spinner-circle {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    20% {
        transform: rotate(360deg);
        opacity:1;
      }
    40% {
        transform: rotate(600deg);
        opacity: 1;
    }
    60% {
          transform: rotate(780deg);
          opacity:0.5;
    } 
    80% {
        transform: rotate(960deg);
        opacity: 0.5;
    }
    100% {
          transform: rotate(1140deg);
          opacity:1;
        }
  }
 
 /****************header****************/
 header {
    display: flex;
    flex-direction : column;
    align-items: center;
    height : 63px;  
 }

 .logo {
    object-fit: contain;
    width : 162px; 
    height : 44px;
    margin-top : 14px;
 }

/*****************Formulaire************/
 .recherche {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 12/1;
    gap: 20px;
    background-color: #EAEAEA;
    height: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
 }
 
 input {
    border:none; 
    background-color: #EAEAEA;
 }
/*****************Reservation************/
 .Resa {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #F6F6F6 ;
}

.titleResa {
    padding: 10px 20px; 
}

.subtilteResa {
    display: flex;
    align-items: center;
    padding: 20px;

}
.explorer {
    display: flex;
    align-items: center;
    color: white;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border-style: none; 
    padding: 15px 20px;
    margin: 20px 0;
} 

.explorer:hover {
    filter: brightness(1.15); 
    transform: translate(3px, -3px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
    transition: 1s ease-in-out;          
}


/*****************Fonctionnement************/
.fonctionnement {
    display: flex;
    flex-direction: column;
    margin: 0 20px; 
}
.button-fonctionnement {
    width: 100%;
}
.fonction-cards {
    position: relative;
    display: flex; 
    flex-direction: row;
    align-items: center;
    border-style:  none;
    background : #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding:  10px 25px;
    margin-left: 25px;
    margin-bottom: 20px;
    gap: 15px;
}

.number {
    position: absolute;
    left: -20px;
    border-radius: 50%;
    padding: 8px 12px;
    color: white;
    background: #9356DC
}
.button-gray {
    color: #7E7E7E;
}
.button-purple:hover {
    color: #9356DC;
}

/*****************Restaurants************/
.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 20px;
}

.resto-cards{
    position: relative;
    display: flex; 
    flex-direction: column;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 20px;
}

.resto-cards img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 6/3;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.post-new {
    position: absolute;
    display: flex;
    align-items: flex-end;
    color : #008766;
    font-weight: bold;
    background: #99E2D0;
    padding: 10px;
    top: 5px;
    right: 5px;
}
.resto-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 0 1.2rem 0;
}

.resto-subtitle {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 15px;   
}

a {
    text-decoration: none;
    color: black; 
}

.like {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding-right: 25px; 
}

.like-white{
    position: absolute;
    font-size: 32px;
    opacity: 1;
}  


.like-color {
    opacity: 0;
}

.like-color:hover{
    font-size: 35px;
    opacity: 1;
    top: 35%;
    left: 31%;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 900;
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: white;
    -webkit-text-fill-color: transparent;
    transform: scale(1); 
    animation: heart 500ms ease-in-out;
}

@keyframes heart {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/****************footer****************/
footer {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: #353535;
    gap: 10px;
    padding: 25px;
}
 .card-footer {
    display: flex;
    flex-direction: column; 
 }
.logo-footer {
    filter:invert(100%);
    width: 137.58px;
    height: auto;
}

.text-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.liens-footer{
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
}

/* desktop, less/equal than 1440px */
@media (min-width: 600px) {

/*****************fonctionnement**************/
.fonctionnement {
    display: flex;
    flex-direction: column;
    margin: 0 175px; 
}

.fonction-cards {
    padding:  10px 50px;
    row-gap: 20px;
}
.button-fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex: 35% 1 1;
    }   

/*****************restaurants**************/
.restaurants {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 175px;
    gap: 50px;
    background-color: #F6F6F6;  
    margin: 0; 
}

.title-resto {
    width: 100%;
}

.resto-cards {
    width: 100%;
    flex: 45% 1 1;
}

/*****************footer**************/
footer {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.footer-reverse {
    display: flex; 
    flex-direction: row-reverse;
}
 .card-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
 }
.logo-footer {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}
}
