/* Small devices (phones, less than 768px) */
/************General************/
* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --tertiary-color: #99E2D0;  
}

.fa-solid {
    color: var(--main-color);
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main-container {
    width: 100%;
    box-sizing: border-box;  
}

.title-section {
    height: 24px;
    font-weight: bold;
}

h3 { 
    margin:0.2em;
}

p {
    font-size: 14px;
    margin: 0.2em;
}

/****************header****************/
header {
    display: flex;
    flex-direction : row;
    justify-content: center;
    align-items: center;
    height: 63px;
}
.fleche { 
    position: absolute;       
    left: 23px; 
}

.logo {
    object-fit: contain;
    display: flex;
    justify-content: center;
    width: 45%; 
    margin-top: 14px;
    margin-left: 105px;
} 
/*****************main*****************/
 img {
    width: 100%
 }

 .card-menu{
    display: flex;
    flex-direction:column;
    position: relative;
    margin-top: -50px;
    width: 95%;
    height: 100%; 
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color:#F7F7F7;
    padding: 13px;
    gap: 12px;
}
.title-menuIcone {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

 .title-menu{
    font-size: 28px;
    font-family: 'Shrikhand';
    padding: 0 10px;
 }

 .subtitle-menu {
    width: 10%; 
    border-bottom: 2px solid #99E2D0;  
 }

 .coeur {
    padding-right: 40px;
 }

 .card-plat {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
    padding: 15px 12px;
    transform: translateY (-100px)
}

.title-plat:hover {
    z-index: 0;
    text-overflow: clip;
}

.btn-coche {
    position: absolute;
	right: 0;
	transition: right 1s, transform 1s;
    border-radius: 20px;
}

.btn-coche:active{
    right: 50%;
	transform: translateX(50%);
}
.entree {
    position: relative;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    animation: entree 0.5s ease-in-out;
}

@keyframes entree {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.plat { 
    position: relative;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    animation: plat 1.5s ease-in-out;
}

@keyframes plat {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dessert { 
    position: relative;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    animation: dessert 2.5s ease-in-out;
}

@keyframes dessert {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.prix {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
   
 }
.commander{
   display: flex;
   justify-content: center;
    width: 100%;
}
 .button-commander {
    display: flex; 
    justify-content: center;
    width: 40%;
    color: white;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 10px 20px;
    margin: 20px 0;
    border-style: none;
}

/********************footer*****************/
footer {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: #353535;
    padding-top: 22px;
    padding-left: 25px;
}

.logo-footer {
    display: flex;
    justify-content: center;
    filter:invert(100%);
    width: 137.58px;
    padding-bottom: 18px;
}

.text-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/* bdesktop, less/equal than 1440px */
@media (max-width: 1440px) {

}


/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

}