/* Small devices (phones, less than 768px) */
/************General************/
* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --tertiary-color: #99E2D0;  
}

.fa-solid {
    color: var(--main-color);
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main-container {
    width: 100%;
    box-sizing: border-box;  
}

.title-section {
    height: 24px;
    font-weight: bold;
}

h3 { 
    margin:0.2em;
}

p {
    font-size: 14px;
    margin: 0.2em;
}

/****************header****************/
header {
    display: flex;
    flex-direction : row;
    justify-content: center;
    align-items: center;
    height: 63px;
}
.fleche { 
    position: absolute;       
    left: 23px; 
}

.logo {
    object-fit: contain;
    display: flex;
    justify-content: center;
    width: 45%; 
}

/*****************main*****************/
 img {
    width: 100%
 }

 .card-menu{
    display: flex;
    flex-direction:column;
    justify-content: center;
    position: relative;
    margin-top: -50px;
    width: 95%;
    height: 100%; 
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color:#F7F7F7;
    padding: 13px;
    gap: 12px;
}
.title-menuIcone {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
}

 .title-menu{
    width: 9 0%;
    font-size: 28px;
    font-family: 'Shrikhand'; 
 }

 .repas {
   padding-bottom: 30px;
 }

 .like {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding-right: 25px; 
}

.like-white{
    opacity: 1;
}  
.like-white:hover {
    opacity: 0;
}

.like-color {
    position: absolute;
    opacity: 0;
}

.like-color:hover{
    font-size: 28px;
    opacity: 1;
    display: flex; 
    align-items: center;
    left: 5%;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 2000;
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: white;
    -webkit-text-fill-color: transparent;
    transform: scale(1); 
    animation: heart 500ms ease-in-out;
}

@keyframes heart {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

 .subtitle-menu {
    width: 4%; 
    border-bottom: 2px solid #99E2D0;  
 }

.card-plat{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
    margin-top: 15px;
    transition-property: opacity;
    animation: card-plat 1s linear backwards;
}


.title-plat {
    width: 80%; 
    padding-left: 10px;
}

.prix {
    width: 20%;
}

.coche {
    position: absolute; 
    left: 400px;  
    display: flex; 
    justify-content: flex-end;
    width: 20%;
    height: auto;
    padding-top: 12px;
    padding-bottom: 13px;
    opacity: 0; 
    overflow:  hidden;
}

.card-plat:hover .title-plat {
    width: 60%;
}
.card-plat:hover .prix {
    width: 20%
}
.card-plat:hover .coche{ 
    opacity: 1;
    display: flex; 
    justify-content: center;
    left: 80%;   
    width: 20%;
    background-color: #99E2D0 ;
    border-radius: 0 15px 15px 0;
    transition: left 800ms ease-in;
}

.fa-check { 
    color: #99E2D0;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
}
   

.card-plat:hover .ellipse{
    width: 60%;
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap;
}

@keyframes card-plat {
    0% {
     opacity: 0;
 }
    100% {
     opacity: 1;
 }
}

 .entree1{
    animation-duration: 0.1s;
    animation-delay: 0.1s;
 }
 .entree2{
    animation-duration: 0.2s; 
    animation-delay: 0.2s;
 }
 .entree3{
    animation-duration: 0.3s;
    animation-delay: 0.3s;
 }
 .plat1{
    animation-duration: 0.4s;
    animation-delay: 0.4s;
}
.plat2{
    animation-duration: 0.5s;
    animation-delay: 0.5s;
}
.plat3{ 
    animation-duration: 0.6s;
    animation-delay: 0.6s;
}
.dessert1{
    animation-duration: 0.7s;
    animation-delay: 0.7s;
}
.dessert2{
    animation-duration: 0.8s;
    animation-delay: 0.8s;
}
.dessert3{
    animation-duration: 0.9s;
    animation-delay: 0.9s;
}

.commander{
   display: flex;
   justify-content: center;
    width: 100%;
}
 .button-commander {
    display: flex; 
    justify-content: center;
    width: 40%;
    color: white;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 10px 20px;
    margin: 20px 0;
    border-style: none;
}

.button-commander:hover {
    filter: brightness(1.25);           
}

/********************footer*****************/
footer {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: #353535;
    padding-top: 22px;
    padding-left: 25px;
}

.logo-footer {
    display: flex;
    justify-content: center;
    filter:invert(100%);
    width: 137.58px;
    padding-bottom: 18px;
}

.text-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/* bdesktop, less/equal than 1440px */
@media (min-width: 600px) {

    .logo {
        width: 20%;
    }

    img {
        object-fit: cover;
        height: 500px;
     }
    
     .card-menu{
        display: flex; 
        justify-content: flex-end;
        width: 50%; 
        padding: 0 220px;
    }
    .title-menuIcone {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .card-plat{
        display: flex; 
        justify-content: flex-start;
        width: 100%;
        
    }
    .prix-coche {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        left: 85%;
        top: 30%;
        width: 53%;
        height: 40%;
    }
    .button-commander {
        padding: 12px 10px;
    }
    footer {
        display: flex; 
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 4rem;
        padding-right: 50px;
        padding-bottom: 14px;
        height: 100px;
    }
    
    .logo-footer {
        object-fit: contain;
    }
    .card-footer{
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    .footer-reverse {
        display: flex;
        flex-direction: row-reverse;
    }
}
